Repository Muslik/drag-06-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

.lintstagedrc:

{
  "*.ts": ["prettier --write --config .prettierrc", "eslint --fix"],
  "{*.json,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json --config .prettierrc"
  ]
}

feat(github-actions): added setup actions
  .github/workflows/drag06.yml
Due: none

feat(prettier): added sort imports
  .prettierrc
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  test/app.e2e-spec.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

build(tsconfig): added strict null check
  tsconfig.json
Due: prettier --write --parser json --config .prettierrc

build(types): added fastify in global declaration
  src/types/global.d.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat(auth): added session authorization, moved jwt auth to a separate module
  package.json
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/constants/index.ts
  src/auth/dto/index.ts
  src/auth/dto/login.dto.ts
  src/auth/guards/auth.guard.ts
  src/auth/interfaces/index.ts
  src/exceptions/exceptions.module.ts
  src/oauth/dto/refresh.dto.ts
  src/oauth/interfaces/index.ts
  src/oauth/oauth.controller.ts
  src/oauth/oauth.module.ts
  src/session/entities/session.entity.ts
  src/session/interfaces/index.ts
  src/session/session.module.ts
  src/session/session.service.ts
  src/shared/decorators/index.ts
  src/shared/decorators/user-id.decorator.ts
  src/shared/interfaces/index.ts
  src/token/interfaces/index.ts
  src/token/token.service.ts
  src/users/entities/userAccount.entity.ts
  src/users/entities/userSocialCredentials.entity.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/app-e2e.spec.ts
  test/auth-e2e.spec.ts
  test/auth.e2e-spec.ts
  test/jest-e2e.json
  test/oauth-e2e.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

Added swgger generation, added color avatar for user
  nest-cli.json
  package.json
  src/auth/auth.controller.ts
  src/main.ts
  src/oauth/dto/index.ts
  src/oauth/dto/jwtTokens.dto.ts
  src/oauth/interfaces/index.ts
  src/oauth/oauth.controller.ts
  src/session/dto/index.ts
  src/session/dto/sessionUser.dto.ts
  src/session/interfaces/index.ts
  src/session/session.service.ts
  src/shared/constants/index.ts
  src/shared/constants/palette.ts
  src/token/interfaces/index.ts
  src/users/entities/userAccount.entity.ts
  src/users/users.service.ts
  test/auth-e2e.spec.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

Added check for prettier and eslint
  .github/workflows/drag06.yml
  package.json
Due: prettier --write --parser json --config .prettierrc

style(tests): fixed eslint problems
  test/app-e2e.spec.ts
  test/auth-e2e.spec.ts
  test/oauth-e2e.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix

style(tests): fixed eslint
  test/auth-e2e.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix

Run prettier
  src/app.module.ts
  src/auth/auth.controller.ts
  src/session/interfaces/index.ts
  src/session/session.module.ts
  src/session/session.service.ts
  src/shared/constants/palette.ts
  src/users/entities/userAccount.entity.ts
  src/users/users.controller.ts
Due: prettier --write --config .prettierrc, eslint --fix

chore(package.json): added prepare husky script
  package.json
Due: prettier --write --parser json --config .prettierrc

test(auth tests): fixed tests
  .eslintrc
  test/auth-e2e.spec.ts
  test/oauth-e2e.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

feat: updated project dependencies
  .czrc
  .eslintrc
  .eslintrc.js
  .gitignore
  .prettierrc
  .yarnrc.yml
  package.json
  src/auth/auth.controller.ts
  src/exceptions/exceptionBase.ts
  src/exceptions/exceptions.module.ts
  src/main.ts
  src/session/session.service.ts
  src/token/token.service.ts
  src/users/users.service.ts
  test/auth-e2e.spec.ts
  test/oauth-e2e.spec.ts
  tsconfig.json
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

ci: updated node version
  .github/workflows/drag06.yml
Due: none

ci: updated node engine
  package.json
Due: prettier --write --parser json --config .prettierrc

fix(package.json): fixed package.json format
  package.json
Due: prettier --write --parser json --config .prettierrc

ci: removed format from ci, update lint
  .github/workflows/drag06.yml
  package.json
Due: prettier --write --parser json --config .prettierrc

refactor: removed unused files, some eslint fixes
  src/modules/oauth/oauth.controller.ts
  src/shared/constants/index.ts
  src/shared/constants/palette.ts
  src/shared/interfaces/index.ts
  src/shared/lib/typeorm/index.ts
  src/shared/lib/typeorm/transaction.ts
  src/types/global.d.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(project): replaced fp-ts with sweet-monads
  .prettierrc
  package.json
  src/libs/application/interceptors/exception.interceptor.ts
  src/libs/exceptions/exceptions.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/guards/auth.guard.ts
  src/modules/auth/services/auth.service.ts
  src/modules/auth/services/googleAuth.service.ts
  src/modules/oauth/oauth.controller.ts
  src/modules/session/session.service.ts
  src/modules/token/token.service.ts
  src/modules/users/users.service.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

feat(logger): added logger for debug log requests and response
  src/app.module.ts
  src/libs/middlewares/logger.middleware.ts
  src/main.ts
Due: prettier --write --config .prettierrc, eslint --fix

build(github pipiline): added build step into github actions
  .github/workflows/drag06.yml
Due: none

refactor(eslint): fixed eslint warnings
  src/app.module.ts
  src/modules/oauth/oauth.controller.ts
Due: prettier --write --config .prettierrc, eslint --fix

ci(github-actions): added froze lockfile to yarn
  .github/workflows/drag06.yml
Due: none

build(yarn): fixed yarn version
  .yarnrc.yml
  package.json
Due: prettier --write --parser json --config .prettierrc

build(yarn): added yarn release to git
  .gitignore
  .yarn/releases/yarn-3.6.1.cjs
Due: none

ci(github-actions): updated yarn option
  .github/workflows/drag06.yml
Due: none

feat(localization): added localization, updated bad request typings, prettier on files
  nest-cli.json
  package.json
  src/app.module.ts
  src/config/index.ts
  src/generated/i18n.generated.ts
  src/i18n/en/translations.json
  src/i18n/ru/translations.json
  src/libs/api/api-error.response.ts
  src/libs/application/filters/exception.filter.ts
  src/libs/application/interceptors/exception.interceptor.ts
  src/libs/decorators/user-identity.decorator.ts
  src/libs/exceptions/exceptions.ts
  src/libs/types/userIndentity.ts
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.errors.ts
  src/modules/auth/guards/auth.guard.ts
  src/modules/auth/index.ts
  src/modules/auth/services/auth.service.ts
  src/modules/oauth/oauth.controller.ts
  src/modules/session/session.service.ts
  src/modules/token/interfaces/index.ts
  src/modules/token/token.errors.ts
  src/modules/token/token.module.ts
  src/modules/token/token.service.ts
  src/modules/users/interfaces/index.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

fix: fixed imports
  src/app.module.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat(events): added events crud
  src/app.module.ts
  src/generated/i18n.generated.ts
  src/i18n/en/translations.json
  src/i18n/ru/translations.json
  src/libs/application/interceptors/exception.interceptor.ts
  src/libs/dto/database-queries.dto.ts
  src/libs/dto/index.ts
  src/libs/exceptions/exception.base.ts
  src/modules/events/dto/create-event.dto.ts
  src/modules/events/dto/event-query.dto.ts
  src/modules/events/dto/index.ts
  src/modules/events/entities/competition.ts
  src/modules/events/entities/event.entity.ts
  src/modules/events/entities/participant.entity.ts
  src/modules/events/entities/qualification.entity.ts
  src/modules/events/events.controller.ts
  src/modules/events/events.module.ts
  src/modules/events/events.service.ts
  src/modules/events/index.ts
  src/modules/references/entities/car-class.entity.ts
  src/modules/references/index.ts
  src/modules/references/references.module.ts
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

fix(typings): updated event types
  src/modules/events/entities/event.entity.ts
  src/modules/events/entities/participant.entity.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(project): fixed lint problems, updated tests
  src/app.module.ts
  src/main.ts
  src/modules/auth/interfaces/authServiceOptions.ts
  src/modules/auth/services/auth/auth.service.ts
  src/modules/session/services/session/session.service.spec.ts
  src/modules/token/index.ts
  src/modules/users/index.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  test/auth-e2e.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(tests): enabled unit tests
  .github/workflows/drag06.yml
  jest_config/jest.config.ts
  jest_config/jest.unit.config.ts
  package.json
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

refactor(project): removed unsused deps
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write --parser json --config .prettierrc

refactor(prettier): format all project
  src/app.module.ts
  src/infrastructure/api/api-error.response.ts
  src/infrastructure/dto/database-queries.dto.ts
  src/infrastructure/filters/exception.filter.ts
  src/infrastructure/interceptors/exception.interceptor.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/guards/auth.guard.ts
  src/modules/auth/interfaces/authServiceOptions.ts
  src/modules/auth/services/auth/auth.service.interface.ts
  src/modules/auth/services/auth/auth.service.spec.ts
  src/modules/auth/services/auth/auth.service.ts
  src/modules/auth/services/authGoogle/authGoogle.service.interface.ts
  src/modules/auth/services/authGoogle/authGoogle.service.ts
  src/modules/auth/services/authJwt/authJwt.service.interface.ts
  src/modules/auth/services/authJwt/authJwt.service.spec.ts
  src/modules/auth/services/authJwt/authJwt.service.ts
  src/modules/auth/services/authSession/authSession.service.interface.ts
  src/modules/auth/services/authSession/authSession.service.ts
  src/modules/session/entities/session.entity.ts
  src/modules/session/services/session/session.service.interface.ts
  src/modules/session/services/session/session.service.ts
  src/modules/token/entities/refreshToken.entity.ts
  src/modules/token/index.ts
  src/modules/token/interfaces/token.service.interface.ts
  src/modules/token/token.module.ts
  src/modules/token/token.service.ts
  src/modules/users/entities/userAccount.entity.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(tests): updated jest config for unit tests
  package.json
Due: prettier --write --parser json --config .prettierrc

refactor(project): update l10n connect, removed unused module, updated fastify version
  nest-cli.json
  package.json
  src/app.module.ts
  src/modules/events/dto/create-event.dto.ts
  src/modules/events/dto/event-query.dto.ts
  src/modules/events/dto/index.ts
  src/modules/events/entities/competition.ts
  src/modules/events/entities/event.entity.ts
  src/modules/events/entities/participant.entity.ts
  src/modules/events/entities/qualification.entity.ts
  src/modules/events/events.controller.ts
  src/modules/events/events.module.ts
  src/modules/events/events.service.ts
  src/modules/events/index.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

refactor: updated script to install husky
  package.json
Due: prettier --write --parser json --config .prettierrc
