Repository Muslik/drag-06-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

.lintstagedrc:

{
  "*.ts": ["prettier --write --config .prettierrc", "eslint --fix"],
  "{*.json,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json --config .prettierrc"
  ]
}

refactor(test): added tests for session.service
  src/modules/session/services/session/session.service.spec.ts
  src/modules/session/services/session/session.service.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(tests): added tests for token.service
  src/app.module.ts
  src/modules/session/services/session/session.service.spec.ts
  src/modules/session/services/session/session.service.ts
  src/modules/token/token.module.ts
  src/modules/token/token.service.spec.ts
  src/modules/token/token.service.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(tests): added tests for users
  src/app.module.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/interfaces/authServiceOptions.ts
  src/modules/auth/services/auth/auth.service.interface.ts
  src/modules/auth/services/auth/auth.service.spec.ts
  src/modules/auth/services/auth/auth.service.ts
  src/modules/auth/services/authGoogle/authGoogle.service.interface.ts
  src/modules/auth/services/authGoogle/authGoogle.service.ts
  src/modules/session/entities/session.entity.ts
  src/modules/session/services/session/session.service.spec.ts
  src/modules/session/session.module.ts
  src/modules/token/entities/refreshToken.entity.ts
  src/modules/token/token.service.spec.ts
  src/modules/user/dto/userAccount.dto.ts
  src/modules/user/dto/userWithSocialCredentials.dto.ts
  src/modules/user/entities/permission.entity.ts
  src/modules/user/entities/role.entity.ts
  src/modules/user/entities/userAccount.entity.ts
  src/modules/user/entities/userSocialCredentials.entity.ts
  src/modules/user/index.ts
  src/modules/user/interfaces/user.service.interface.ts
  src/modules/user/lib/generateAvatarColor.ts
  src/modules/user/user.constants.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.module.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
  test/auth-e2e.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(import fixes): updated typeorm imports, added logger to users.service
  src/infrastructure/filters/exception.filter.ts
  src/infrastructure/middlewares/logger.middleware.ts
  src/modules/session/session.module.ts
  src/modules/token/token.module.ts
  src/modules/user/user.module.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix(refreshtoken.entity): linked userAccount with refreshToken.entity
  src/modules/token/entities/refreshToken.entity.ts
  src/modules/user/entities/userAccount.entity.ts
Due: prettier --write --config .prettierrc, eslint --fix

build(node-version): updated node-version in github action
  .github/workflows/drag06.yml
Due: none

refactor(project): updated drizzle config, updated i10n types
  drizzle.config.ts
  nest-cli.json
  src/app.module.ts
  src/i18n/en/translations.json
  src/i18n/index.ts
  src/i18n/ru/translations.json
  src/i18n/types.ts
  src/infrastructure/dto/database-queries.dto.ts
  src/infrastructure/filters/exception.filter.ts
  src/infrastructure/interceptors/exception.interceptor.ts
  src/modules/user/user.controller.ts
  src/types/global.d.ts
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

test(auth.service): fixed unneeded test
  src/modules/auth/services/auth/auth.service.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix

refactor(database): moving to prisma
  .prettierrc
  database/migrate.ts
  drizzle.config.ts
  package.json
  prisma/schema.prisma
  src/app.module.ts
  src/infrastructure/database/database.contants.ts
  src/infrastructure/database/database.module.ts
  src/infrastructure/database/drizzle/drizzle.service.ts
  src/infrastructure/database/drizzle/schema.ts
  src/infrastructure/database/drizzle/types.ts
  src/infrastructure/database/index.ts
  src/infrastructure/database/prisma.service.ts
  src/infrastructure/database/types.ts
  src/infrastructure/ddd/repository.base.ts
  src/modules/session/session.repository.ts
  src/modules/session/session.service.interface.ts
  src/modules/session/session.service.ts
  src/modules/token/refreshToken.repository.ts
  src/modules/token/token.service.spec.ts
  src/modules/token/token.service.ts
  src/modules/user/repositories/user.repository.ts
  src/modules/user/repositories/userSocialCredentials.repository.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

style(eslint): removed unused variable
  src/modules/auth/services/auth/auth.service.spec.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat(tournaments): added tournaments creation and get all tournaments
  .lintstagedrc
  global.d.ts
  prisma/schema.prisma
  src/app.module.ts
  src/i18n/en/translations.json
  src/i18n/ru/translations.json
  src/i18n/types.ts
  src/infrastructure/api/api-error.response.ts
  src/infrastructure/api/index.ts
  src/infrastructure/database/types.ts
  src/infrastructure/ddd/repository.base.ts
  src/infrastructure/dto/database-queries.dto.ts
  src/infrastructure/exceptions/exceptions.ts
  src/infrastructure/filters/exception.filter.ts
  src/infrastructure/interceptors/exception.interceptor.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/services/auth/auth.service.spec.ts
  src/modules/session/session.repository.ts
  src/modules/token/refreshToken.repository.ts
  src/modules/tournament/dto/createTournament.dto.ts
  src/modules/tournament/dto/tournament.dto.ts
  src/modules/tournament/dto/tournamentQuery.dto.ts
  src/modules/tournament/index.ts
  src/modules/tournament/repositories/event.repository.ts
  src/modules/tournament/tournament.constants.ts
  src/modules/tournament/tournament.controller.spec.ts
  src/modules/tournament/tournament.controller.ts
  src/modules/tournament/tournament.module.ts
  src/modules/tournament/tournament.repository.interface.ts
  src/modules/tournament/tournament.repository.ts
  src/modules/tournament/tournament.service.interface.ts
  src/modules/tournament/tournament.service.spec.ts
  src/modules/tournament/tournament.service.ts
  src/modules/user/repositories/user.repository.ts
  src/modules/user/repositories/userSocialCredentials.repository.ts
  tsconfig.json
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

refactor(i10n): removed unneded i10n
  src/app.module.ts
  src/i18n/en/translations.json
  src/i18n/index.ts
  src/i18n/ru/translations.json
  src/i18n/types.ts
  src/infrastructure/interceptors/exception.interceptor.ts
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

refactor(exceptions): updated exception class
  src/infrastructure/api/api-error.response.ts
  src/infrastructure/exceptions/exception.base.ts
  src/infrastructure/exceptions/exception.codes.ts
  src/infrastructure/exceptions/exceptions.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat(guard): added rate limit guard
  src/app.module.ts
  src/infrastructure/guards/rateLimit.guard.ts
Due: prettier --write --config .prettierrc, eslint --fix

feat(tournaments): added new controller for a single tournament, improved create validation
  nest-cli.json
  package.json
  src/infrastructure/dto/database-queries.dto.ts
  src/infrastructure/dto/index.ts
  src/modules/tournament/dto/createTournament.dto.ts
  src/modules/tournament/dto/tournament.dto.ts
  src/modules/tournament/dto/tournamentQuery.dto.ts
  src/modules/tournament/tournament.controller.spec.ts
  src/modules/tournament/tournament.controller.ts
  src/modules/tournament/tournament.repository.interface.ts
  src/modules/tournament/tournament.repository.ts
  src/modules/tournament/tournament.service.interface.ts
  src/modules/tournament/tournament.service.spec.ts
  src/modules/tournament/tournament.service.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, prettier --write --parser json --config .prettierrc

refactor(auth.controller): moved common swagger decorators to top of controller
  src/modules/auth/auth.controller.ts
Due: prettier --write --config .prettierrc, eslint --fix
